/* src/styles/AdminDashboard.module.css */

.adminDashboard {
    display: flex;
}
  
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #F7F8FA;
}
  
.sidebar h2 {
    color: #4A90E2;
    font-size: 20px;
    font-weight: bold;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar li {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}
  
.sidebar li a {
    text-decoration: none;
    color: inherit;
}
  
.dashboardContent {
    flex: 1;
    padding: 20px;
}
  
.gridLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
  
.card {
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.metricsContainer {
    margin: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metricChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.metricNumber {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.metricLabel {
font-size: 0.9rem;
color: #888;
}

.metricCardContainer{
    grid-column: span 1;
}

.deptPayrollChart{
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payrollChart {
    grid-column: span 3;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.employeeGrowthChart {
    grid-column: span 3;
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
  
.highestSalarySection {
    grid-column: span 1;
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
  
.highestSalarySection h3 {
    margin-bottom: 10px;
}
  
.highestSalarySection ul {
    list-style: none;
    padding: 0;
}
  
.highestSalarySection li {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 5px 0;
}
